* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #e6f7ff;
}

header {
    background-color: #0077b6;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    padding: 16px;
    display: inline-block;
    text-decoration: none;
}

h1 {
    color: #0077b6;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 840px;
    margin: 0 auto;
    padding: 20px;
    background: white;
}

main img {
    width: 150px;
    height: auto;
    border: 3px solid #0077b6;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 1rem;
}

body {
    background-color: red !important;
}